<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html, body{
	background-color: #FCFCFF !important;
	font-family: "Poppins", sans-serif;
}

a{
	text-decoration: none !important;
}

.navbar-light{
	background-color: #FCFCFF !important;	
}

.navbar-brand img{
	height: 36px;
}

.navbar-nav .nav-link{
	color: #330091 !important;	
	font-weight: bold;
	font-size: 20px;
}

.navbar-nav .icon-link{
	color: #9995AF !important;
	font-size: 14px;
	box-shadow: 0px 1px 4px 0px #aaa;
	border-radius: 4px;
	position: relative;
}

.navbar-nav .icon-link>.alert-dot-cyan, .navbar-nav .icon-link>.alert-dot-red{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
}

.navbar-nav .icon-link>.alert-dot-cyan{
	background-color: #1C84FF;
}

.navbar-nav .icon-link>.alert-dot-red{
	background-color: #EF2858;
}

main{
	margin-top:80px;
}

.chat-content-wrapper{
	background-color: #1C84FF1A;
	border-radius: 5px;
}

.card{
	border-radius: 10px;
	box-shadow: 0px 2px 8px 0px #aaa;	
}

.card-body{
	background-color: #FEFEFF !important;
	border-radius: 10px;
	color: #666377;
	font-size: 16px;
	font-family: "Manrope", sans-serif;
	font-weight: 600;
}

.recent-chats-card{
	position: relative;
}

.bottom-overlay-fade-effect{
	position: absolute;
	bottom: 0px;
	background: linear-gradient(rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 1));
	height: 150px;
	width: calc(100% - 20px);	
}


.recent-chats-card img{
	height: 24px;
}

.recent-chats-card .single-conversation-title img{
	height: 16px;
}

.recent-chats-card .single-conversation-title{
	color: #9995AF;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
	transition: 0.2s;
	position: relative;
}


.recent-chats-card .single-conversation-title:hover{
	background-color: #1C84FF1A;
	padding: 0px 10px;
	color: #1C84FF;
	font-weight: 600;
}

.recent-chats-card .single-conversation-title .fa-trash{
	position: absolute;
	top: 0px;
	right: 0px;
	color: #000;
	background-color: #1C84FF99;
	width: 40px;
	height: 40px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	text-align: center;
	padding-top: 12px;
	display: none;
	transition: 0.5s;
}

.recent-chats-card .single-conversation-title:hover .fa-trash{
	display: block;
}

.conversation-list-header{
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
}

.conversation-placeholder{
	min-height: 450px;
}	

.conversation-content{
	height: 450px;
	position: relative;
	overflow-y: scroll;
}

.top-overlay-fade-effect{
	position: absolute;
	top: 0px;
	background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.0));
	height: 100px;
	z-index: 1;
	width: calc(100% - 20px);	
}


.conversations-placeholder-image{
	max-width: 260px;
}

.conversations-placeholder-features .feature-icon{
	height: 24px;
}

.conversations-placeholder-item-description{
	font-size: 13px !important;
}

.user-icon-in-chat{
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #11BB7F;
	color: #fff;
	font-weight: 400px;
	font-size: 10px;
}

.conversation-content .talker-title{
	font-size: 14px;
	color: #252238;
	font-weight: 700px;
	font-family: "Inter", sans-serif;
}

.message-options img{
	height: 20px;
	cursor: pointer;
}

.bot-icon-in-chat{
	height: 20px;	
}

.custom-input-box{
	border: 1px solid #9995AF;
	border-radius: 16px;
	height: 58px;
}

.custom-input-box .pre-icon{
	height: 32px;
}

.custom-input-box .send-btn{
	width: 32px;
	height: 32px;
	border-radius: 8px;
	color: #fff;
	text-align: center;
	background-color: #9995AF80;
	padding-top: 8px;
	cursor: pointer;
}

.custom-input-box input{
	border: 0 !important;
	outline: none !important;
}

footer{
	margin-top:80px;
	background-color: #330091 !important;		
	color: #FEFEFF;
	font-size: 20px;
	font-weight: 600;
}

.footer-logo{
	height: 36px;
}

.footer-description{
	font-size: 12px;	
	font-weight: 400;
	border-bottom: 1px solid #FEFEFF;
}

.footer-links a{
	color: #FEFEFF !important;
	font-size: 18px !important;	
	font-family: "Manrope", sans-serif;
	font-weight: 600;
}

.footer-copyright{
	font-size: 13px;
}

.footer-social-links a{
	width: 36px;
	height: 36px;
	background-color: #FEFEFF !important;
	display: inline-block;
	font-size: 16px;
	color: #333 !important;
	border-radius: 50%;
	padding-top: 7px;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

=======
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html, body{
	background-color: #FCFCFF !important;
	font-family: "Poppins", sans-serif;
}

a{
	text-decoration: none !important;
}

.navbar-light{
	background-color: #FCFCFF !important;	
}

.navbar-brand img{
	height: 36px;
}

.navbar-nav .nav-link{
	color: #330091 !important;	
	font-weight: bold;
	font-size: 20px;
}

.navbar-nav .icon-link{
	color: #9995AF !important;
	font-size: 14px;
	box-shadow: 0px 1px 4px 0px #aaa;
	border-radius: 4px;
	position: relative;
}

.navbar-nav .icon-link>.alert-dot-cyan, .navbar-nav .icon-link>.alert-dot-red{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
}

.navbar-nav .icon-link>.alert-dot-cyan{
	background-color: #1C84FF;
}

.navbar-nav .icon-link>.alert-dot-red{
	background-color: #EF2858;
}

main{
	margin-top:80px;
}

.chat-content-wrapper{
	background-color: #1C84FF1A;
	border-radius: 5px;
}

.card{
	border-radius: 10px;
	box-shadow: 0px 2px 8px 0px #aaa;	
}

.card-body{
	background-color: #FEFEFF !important;
	border-radius: 10px;
	color: #666377;
	font-size: 16px;
	font-family: "Manrope", sans-serif;
	font-weight: 600;
}

.recent-chats-card{
	position: relative;
}

.bottom-overlay-fade-effect{
	position: absolute;
	bottom: 0px;
	background: linear-gradient(rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 1));
	height: 150px;
	width: calc(100% - 20px);	
}


.recent-chats-card img{
	height: 24px;
}

.recent-chats-card .single-conversation-title img{
	height: 16px;
}

.recent-chats-card .single-conversation-title{
	color: #9995AF;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
	transition: 0.2s;
	position: relative;
}


.recent-chats-card .single-conversation-title:hover{
	background-color: #1C84FF1A;
	padding: 0px 10px;
	color: #1C84FF;
	font-weight: 600;
}

.recent-chats-card .single-conversation-title .fa-trash{
	position: absolute;
	top: 0px;
	right: 0px;
	color: #000;
	background-color: #1C84FF99;
	width: 40px;
	height: 40px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	text-align: center;
	padding-top: 12px;
	display: none;
	transition: 0.5s;
}

.recent-chats-card .single-conversation-title:hover .fa-trash{
	display: block;
}

.conversation-list-header{
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
}

.conversation-placeholder{
	min-height: 450px;
}	

.conversation-content{
	height: 450px;
	position: relative;
	overflow-y: scroll;
}

.top-overlay-fade-effect{
	position: absolute;
	top: 0px;
	background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.0));
	height: 100px;
	z-index: 1;
	width: calc(100% - 20px);	
}


.conversations-placeholder-image{
	max-width: 260px;
}

.conversations-placeholder-features .feature-icon{
	height: 24px;
}

.conversations-placeholder-item-description{
	font-size: 13px !important;
}

.user-icon-in-chat{
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #11BB7F;
	color: #fff;
	font-weight: 400px;
	font-size: 10px;
}

.conversation-content .talker-title{
	font-size: 14px;
	color: #252238;
	font-weight: 700px;
	font-family: "Inter", sans-serif;
}

.message-options img{
	height: 20px;
	cursor: pointer;
}

.bot-icon-in-chat{
	height: 20px;	
}

.custom-input-box{
	border: 1px solid #9995AF;
	border-radius: 16px;
	height: 58px;
}

.custom-input-box .pre-icon{
	height: 32px;
}

.custom-input-box .send-btn{
	width: 32px;
	height: 32px;
	border-radius: 8px;
	color: #fff;
	text-align: center;
	background-color: #9995AF80;
	padding-top: 8px;
	cursor: pointer;
}

.custom-input-box input{
	border: 0 !important;
	outline: none !important;
}

footer{
	margin-top:80px;
	background-color: #330091 !important;		
	color: #FEFEFF;
	font-size: 20px;
	font-weight: 600;
}

.footer-logo{
	height: 36px;
}

.footer-description{
	font-size: 12px;	
	font-weight: 400;
	border-bottom: 1px solid #FEFEFF;
}

.footer-links a{
	color: #FEFEFF !important;
	font-size: 18px !important;	
	font-family: "Manrope", sans-serif;
	font-weight: 600;
}

.footer-copyright{
	font-size: 13px;
}

.footer-social-links a{
	width: 36px;
	height: 36px;
	background-color: #FEFEFF !important;
	display: inline-block;
	font-size: 16px;
	color: #333 !important;
	border-radius: 50%;
	padding-top: 7px;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

>>>>>>> origin/main
